:root {
    --body-background: #ededf0;
    --body-color: #121218;
    --body-accent-font-color: #424248;
    --link-border-color: #888;
    --link-color: #06d;

    background-color: var(--body-background);
    color: var(--body-color);
    font-family: "Source Sans 3", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 22px;
}

body {
    max-width: 30rem;
    margin: auto;
    padding: 0 1rem;
}

/* @media (max-width: 896px) { */
@media (max-device-width: 480px) and (orientation: portrait) {
    :root {
        font-size: 50px;
    }
    body {
        max-width: 100%;
        padding: 0 1.3rem;
    }
    h1 {
        font-size: 1.4rem;
    }
}

p {
    margin-top: 0.2rem;
    margin-bottom: 0.6rem;
}

.header {
    text-align: center;
}

h1 {
    font-weight: 300;
    margin-top: 3rem;
    margin-bottom: 0.3rem;
}

h2 {
    font-weight: 300;
    color: var(--body-accent-font-color);
    font-size: 1.3rem;
    margin-top: 0.3rem;
}

/* "Program", "Announcements", etc. */
h3 {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

/* "Administration of the Sacrament" etc. */
h4 {
    font-weight: 400;
    font-size: 1rem;
    text-transform: lowercase;
    font-variant-caps: small-caps;
    margin: 0.8rem 0;
}

/* "Speaker" "Rest Hymn" etc. */
h5 {
    font-weight: 600;
    color: var(--body-accent-font-color);
    text-transform: lowercase;
    font-variant-caps: small-caps;
    margin-top: 0.5rem;
    margin-bottom: 0;
}

h5 + p {
    margin: 0;
}

a {
    color: var(--link-color);
}

/* a { */
/*     text-decoration: underline dotted var(--link-border-color); */
/*     /\* background-color: inherit; *\/ */
/*     color: var(--body-color); */
/*     /\* border-color: var(--link-border-color); *\/ */
/*     /\* border-width: 0 0 1px 0; *\/ */
/*     /\* border-style: none none dotted none; *\/ */
/*     /\* padding: 1px 0px 1px 0px; *\/ */
/* } */

/* a:hover { */
/*     border-style: none none solid none; */
/*     border-width: 0 0 1px 0; */
/*     text-decoration: none !important; */
/* } */

.meeting-org {
    display: flex;
    flex-flow: row wrap;
}

.meeting-org div {
    flex: 1;
}

.meeting-org p {
    margin: 0;
}

.meeting-org .music {
    text-align: right;
}

.hymn-number {
    margin-right: 1rem;
}

.hymn-name {
    font-style: italic;
}

.announcement {
    margin-bottom: 2rem;
}

.announcement .announcement-header {
    font-weight: 600;
    display: block;
    clear: both;
}

.calendar-event {
    margin-bottom: 2rem;
}

.calendar-event .event-metadata {
    margin-bottom: 0.2rem;
}

.event-datetime {
    font-size: 0.8rem;
}

.calendar-event .event-title {
    font-weight: 600;
    display: block;
}

/* Fancy hanging quotation marks */
dquo-open-pull {
    margin-left: -0.3em;
}
